* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Malgun Gothic';
}

body {
    background-color: #f5f5f5;
    /* background-color: #2d2d2d; */
}

/* setting */

a {
    color: #000;
}

button {
    cursor: pointer;
}

.clear {
    clear: both;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#phone {
    width: 380px;
    height: 750px;
    background: rgb(77,178,204);
    background: linear-gradient(153deg, rgba(77,178,204,1) 0%, rgba(175,175,255,1) 50%, rgba(0,212,255,1) 100%);
    border-radius: 10px;
    overflow: hidden;
}

#phone h3 {
    color: #fff;
    font-weight: 100;
}

/* Always Display */

#phone .always-display {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .5s;
    background-color: #000;
    display: none;
    z-index: 999;
}

#phone .always-display .time-box {
    color: #fff;
    padding: 130px 50px;
    font-weight: 100;
}

#phone .always-display .time-box span {
    font-size: 40px;
}

#phone .always-display .time-box p {
    font-size: 25px;
    margin-top: 3px;
}

#phone .always-display .time-box .battery-box {
    margin-top: 10px;
}

#phone .always-display .time-box .battery-box small {
    margin: 5px 7px 0 0;
}

#phone .always-display .time-box .battery-box .battery {
    margin-top: 9px;
}

#phone .always-display .finger-print {
    max-width: 40px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, 0);
    cursor: pointer;
    transition: 1.5s;
}

#phone .always-display .finger-print img {
    width: 100%;
}

/* battery style */

#phone .battery-box small {
    float: left;
}

#phone .battery-box .battery {
    width: 11px;
    height: 14px;
    float: left;
    background-color: #fff;
    position: relative;
}

#phone .battery-box .battery:before {
    content: '';
    width: 50%;
    height: 2.5px;
    position: absolute;
    left: 50%;
    top: -2.5px;
    transform: translate(-50%, 0);
    background-color: #fff;
}

/* Top Bar */

#top-bar {
    width: 100%;
    background-color: transparent;
    font-size: 14px;
    color: #fff;
    padding: 6px;
    z-index: 99999;
    position: absolute;
    top: 0;
}

#top-bar .left-box {
    float: left;
}

#top-bar .left-box span, #top-bar .left-box p {
    float: left;
}

#top-bar .left-box p {
    margin-left: 4px;
}

#top-bar .right-box {
    float: right;
}

#top-bar .right-box .send-bar {
    width: 15px;
    height: 20px;
    float: left;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: -5px 7px 0 0;
}

#top-bar .right-box .send-bar > span {
    width: 20%;
    height: 65%;
    float: left;
    background-color: #fff;
}

#top-bar .right-box .send-bar > span:nth-of-type(1) {
    height: 30%;
}

#top-bar .right-box .send-bar > span:nth-of-type(2) {
    height: 45%;
}

#top-bar .right-box .battery-box {
    float: right;
}

#top-bar .right-box .battery-box .battery {
    margin: 2px 0 0 5px;
}

/* main style */
#main {
    width: 100%;
    height: calc(100% - 70px);
    padding: 15px 10px;
    position: relative;
}
    /* google search style */
    #main .google-search-box {
        width: 100%;
        height: 30px;
        background-color: #fff;
        border-radius: 5px;
        overflow: hidden;
    }

    #main .google-search-box input {
        width: 90%;
        height: 30px;
        float: left;
        border: none;
        padding-left: 5px;
    }

    #main .google-search-box button {
        width: 10%;
        height: 30px;
        float: right;
        background-color: transparent;
        border: none;
    }

    #main .google-search-box button img {
        width: 40%;
        margin-top: 4px;
    }
    /* google search style end */

    /* app icon style */

    #main .app-wrap {
        width: 70%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #main .app-wrap > div {
        width: 100px;
        height: 100px;
        background-color: rgba(0, 0, 0, .5);
        border-radius: 10px;
        overflow: hidden;
        padding: 10px;
        color: #fff;
        text-align: center;
        cursor: pointer;
        transition: .3s background-color;
    }

    #main .app-wrap > div:hover {
        background-color: rgba(0, 0, 0, .67);
    }

    /* app icon style end */

/* main style end */

/* Apps style */
#Apps {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
    visibility: hidden;
}
#Apps > div {
    width: 100%;
    height: 100%;
    background-color: skyblue;
    padding: 30px 10px 40px 10px;
    transition: .5s;
    visibility: hidden;
    opacity: 0;
}

/* bottom bar */

#bottom-bar {
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    bottom: 0;
    z-index: 9999;
}

#bottom-bar > div {
    width: 33.33333%;
    height: 100%;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    transition: .3s background-color;
    cursor: pointer;
}

#bottom-bar > div:hover {
    background-color: rgba(0, 0, 0, .41);
}

#bottom-bar > div:nth-of-type(1) {
    background-image: url('../image/TAB.png');
    background-size: 20px;
}

#bottom-bar > div:nth-of-type(2) > div {
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    top: 52%;
}

#bottom-bar > div:nth-of-type(3) {
    background-image: url('../image/BACK.png');
    background-size: 11px;
}